* {
  padding: 0;
  margin: 0;
  font-family: 'Revalia', cursive;
  font-family: 'Poppins', sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  background: #f2f3f5;
}

.hide {
  display: none !important;
}

header {
  position: fixed;
  background: #f2f3f5;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 3px solid red;
}

.centered {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

nav {
  padding: calc(20px - 3px);
}

nav a {
  position: relative;
  margin-right: 2em;
  text-decoration: none;
  font-weight: 100;
}

nav a.active {
  font-weight: 900;
  color: red;
}

main.centered, .item.centered {
  position: relative;
  margin-bottom: 4em;
  top: 61px;
}

.score, .by, nav a, .comment-link a {
  color: rgba(255, 0, 0, 0.7)
}

.item .title {
  padding: 2em;
  background: white;
  margin-bottom: 1em;
}

.comments {
  font-size: 0.90em;
  padding: 2em;
  background: white;
}

.comments .text {
  font-size: 0.9em;
}

.comment {
  border-top: 1px solid rgba(255, 0, 0, 0.2);
}

.child-comments {
  padding-left: 1.25em;
}

.comment:first-child {
  border-top: none;
}

.comment span {
  display: inline-block;
}

.comment .by {
  padding-top: 2em;
}

.comment .min {
  font-size: 0.8em;
  cursor: pointer;
  color: #a9afbc;
}

.comment .text {
  display: inline-block;
  padding: 1em 0 2em 0;;
  word-break: break-word;
}

.comment .text pre {
  white-space: pre-wrap;
}

main > div {
  background: white;
}

main ul {
  list-style: none;
}

main ul li {
  position: relative;
  min-height: 70px;
  padding: 1em 2em 1em 4em;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f3f5;
}

main ul li:last-child {
  border-bottom: none;
}

.url a {
  color: black;
}

span {
  margin-right: 1em;
}

.index {
  position: absolute;
  width: 4em;
  color: red;
  font-weight: 600;
  left: 0;
  top: 50%;
  margin-top: -10px;
  text-align: center;
}

.score, .by, .comment-link {
  font-size: 0.75em;
}

.more {
  display: inline-block;
  margin-top: 1em;
  width: 100%;
  text-align: right;
}

.more a {
  box-sizing: border-box;
  padding: 1em;
  background: white;
  text-decoration: none;
  color: red;
  font-weight: 800;
}

.loading {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: red;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;

}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0)  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;

  }

}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;

  }

}
